<!DOCTYPE html>
<html lang="en">
        <% const a='khoaphammean'%>
        <% const isadmin=true%>
        <% const arrpp1=arrpp%>
        <% const array=["node","mongoose","php"]%>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learn ejs</title>
</head>
<body>
    

        <h1><%=name%></h1>
        <h3><%=tuoi%></h3>
    
</body>
</html>
